@use './variables' as *;

html[data-theme="dark"] {
  --background-color: #{$neutral-900};
  --color: #{$neutral-0};

  --primary-color: #{$primary-500};
  --secondary-color: #{$neutral-500};
  
  --header-background-color: #{$neutral-900};
}

html[data-theme="light"] {
  --background-color: #{$white-2};
  --color: #{$black-1};

  --primary-color: #{$blue-1};
  --secondary-color: #{$grey-3};

  --header-background-color: #{$white-2};
}