.settings {
    height: 100%;
    background-color: bisque;
    position: fixed;
    top: 0;
    right: 0;

    transform: none;
    transition: width 225ms cubic-bezier(0, 0, 0.2, 1) 0ms;

    &-open {
        width: 300px;
    }

    &-close {
        width: 0px;
    }

    &-wrapper {

    }

    &-header {

    }

    &-content {

    }

    &-footer {

    }
}