@import '../../scss/base/variables';


.header { 
    height: $header-hight;
    background: $header-background;
    position: fixed;
    z-index: 1000;
    width: 100%;
    box-shadow: 0 1px 5px black;
}