@import '../../scss/base/variables';


.header { 
    height: $header-hight;
    background: $header-background;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}