@import '../../scss/base/variables';


.header { 
    height: $header-hight;
    background: var(--header-background-color);
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;

    &-wrapper {
        margin: 0 2em 0 2em;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: inherit;
        height: inherit;
        
        & .right {
            display: flex;
            align-items: center;
            justify-content: space-around;
        }

    }
    &__icon {
        width: 40px;
        height: 40px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }
}